:root {
    --blue: #3f7288;
    --lt-blue: #cbd7e8;
    --blue-green: #287a7a;
    --dk-blue: #28373f;
    --slate: #dde7f3;
    --white: #faefef;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--slate);
    margin: 0 auto;
    padding: .75em;
    min-height: 100vh;
    color: var(--white);
    font-family: 'Fredoka One', cursive;
    font-size: 1.25rem;
    letter-spacing: .15em;
    text-shadow: 0 0 1px #000000;
    overflow-x: hidden; 
}

h1 {
    text-align: center;
    font-size: 2.25rem;
    margin: .75em auto 0;
 }

.players {
    display: flex;
    justify-content: space-evenly;
}

.players > p {
    margin: 0 auto .25em;
}

.rounds-left {
    margin: 0 auto .25em;
    line-height: 0;
    text-align: center;
}

.game-container {
    position: relative;
    background: var(--dk-blue) url('./assets/background.jpg') no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    border: 3px solid var(--dk-blue);
    border-radius: 8px;
    margin: 0 auto;
    min-height: 700px;
}
.btn {
    padding: .5em 1em;
    font-family: 'Fredoka One', cursive;
    font-size: 1.25rem;
    letter-spacing: .25em;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.btn-new-deck {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    color: var(--white);
    background-color: transparent;
    transition: all .5s ease-in-out; 
    transition-delay: 250ms;
}

.btn-new-deck:hover {
    transform: scale(1.2);
}

.btn-draw {
    position: absolute;
    width: 100%;
    background-color: var(--blue-green);
    color: var(--slate);
    text-shadow: 0 0 2px #000000;
    bottom: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-draw:hover:enabled,
.btn-draw:focus:enabled {
    background: var(--lt-blue);
    color: var(--blue-green);
    text-shadow: 0 0 2px #ffffff;
}

.btn-draw:disabled {
    background: var(--dk-blue);
    color: var(--blue);
    cursor: auto;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 475px;
    margin-top: .5em;
}

.card {
    width: 140px;
    height: 200px;
}

@media (min-width: 750px) {
    h1 {
        margin-top: .5em;
        font-size: 3rem;
    }
    p {
        font-size: 2rem;
    }
    .card-container {
        flex-direction: row;
        gap: 8em;
        padding-bottom: 3em;
    }
    .card {
        width: 275px;
        height: 400px;
    }
    .btn-new-deck {
        font-size: 2rem;
    }
}